@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

body{
    --bg: #f9f9f9;
    --textNormal: #252525;
    --textTitle: #252525;
    --textLink: #663399;
    --textHR: #ddd;

    background-color: var(--bg);
}
  
body.dark{
    -webkit-font-smoothing: antialiased;
  
    --bg: #181818;
    --textNormal: #ffffff;
    --textTitle: #ffffff;
    --textLink: #FFBD1B;
    --textHR: #2c2c2c;
}

h1, h2, h3{
    color: var(--textTitle);
}

.navMenu a{
    text-decoration: none;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

mark{
    background-color: #FFBD1B;
}

form { 
    max-width:420px; 
    margin:50px auto; 
}

#name, #email, #subject, #message{
    border:2px solid var(--textLink);
    margin-bottom: 15px;
    width:100%;
    background-color: var(--textHR);
}

[type="submit"] {
    background: var(--textLink);
    color:white;
    cursor:pointer;
    width: 100%;
}

[type="submit"]:hover { 
    background:var(--textHR); 
}

.highlight-buttons{
    padding-top: 1rem;
}

.highlight-buttons button {
    margin-right: 0.5rem;
}